body{
    background: black;
}

#logo{
    align-self: center;
    margin-top: 100px;
    width: 300px;
    display: block;    
}


input {
    align-self: center;
    margin: 20px;
    width: 400px;
    display: block;
}

